<div class="container">
  <h1>Teams</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Team </th>
        <th scope="col"> Project </th>
        <th scope="col"> Action </th>
      </tr>
    </thead>

    <tbody>
      <%# @projects.each do |project| %>
        <%#= render project %>
      <%# end %>
    </tbody>

  </table>

  <%= link_to "Create Team", "#" %>

</div>