<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="pane">
    <h2><%= @project.title %></h2>
    <p><%= @project.description %><p>
    <%=  @project.status %>
  </div>
  <div class="pane">
  </div>
  <div class="tasks-container">
  </div>
</div>